$tagColor: #222 !default;
$tagColorActive: #111 !default;
$tagBackgroundColor: #cee7f9 !default;
$tagFontSize: 1rem !default;

$editorBorder: #ccc !default;
$editorBorderActive: #808080 !default;

$placeholderColor: #777 !default;

$tagErrorColor: #f2c9c9 !default;
$tagErrorColorDark: #5c0909 !default;
